*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}
/* common style */
a{
    text-decoration: none;
}
img{
    width: 100%;
}

section{
    margin: 100px 0;
}
/* header part */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}
.nav-links{
    display: flex;
    gap: 20px;
}
.menu-links a{
    margin: 0 10px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.banner-description,.banner-img{
    width: 50%;
}
.special-color{
    color: orange;
}

/* plants section */

.plants-description{
    text-align: center;
    margin-bottom: 50px;
}

.plants-description p{
    margin: 15px auto 0 auto;
    width: 60%;

}
.plant-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.plant-card{
    text-align: center;
}
.plant-card button{
    width: 100%;
    padding: 10px 20px;
    background: orange;
    color: #fff;
    border: 0;
    outline: 0;
}
.plant-card p{
    margin: 10px 0;
}
/* plants-lover-section */
.plants-lover-section{
    display: flex;
    gap: 50px;
    position: relative;
}
.badge {
    position: absolute;
    left: 199px;
    top: -111px;
}
.badge img{
    width: 235px;
}
.plants-lover-description h1{
    font-size: 48px;
    margin-bottom: 15px;
}
.plants-lover-description ul li{
    margin: 15px 0;
    font-size: 20px;
}
.deals-description p{
    margin: 15px auto 0 auto;
    width: 60%;
    font-size: 22px;
    font-weight: normal;
}
.deals-description{
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
}
.shop-section{
    display: grid;
    grid-template-columns: repeat(3 1fr);
   
}

.shop-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.shop-img{
    text-align: center;
    color: #fff;
    padding: 7rem 0;
    border-radius: 24px;
}
.shop-img a{
    color: #fff;
    text-decoration: underline;
}
.shop-bloom{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../images/assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;

}
.shop-zabo{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../images/assets/deal-zabo.png") center/cover no-repeat;
    grid-column: span 2;
    grid-row: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.shop-ana{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../images/assets//deal-ana.png") center/cover no-repeat ;

}

.colourful-bunch{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("../images/assets/news-letter-bg.png")  center/cover no-repeat;
    padding: 8rem 0;
    color: #fff;
    text-align: center;

}

.contact-subscription{
    width: 30%;
    margin: 0 auto;
    position: relative;
}
.contact-subscription input{
    padding: 10px 20px;
    width: 100%;
}
.contact-subscription button{
    padding: 10px 20px;
    background: orange;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: 0;
    height: 100%;
}

/* footer */

.footer-details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.footer-links .link{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.lopo-part img{
    width: 135px;
}

.social-links a img{
    width: 35px;
}

.social-links a{
    margin: 0 15px;
}

.menu-cart{
    display: flex;
}

@media (max-width:600px){
    .menu-links{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-description,.banner-img{
    width: 100%
    }
    .plant-cards{
        grid-template-columns: repeat(2,1fr);
    }
    .badge{
        display: none;
    }
    .plants-lover-section{
        flex-direction: column;
    }
    .shop-section{
        grid-template-columns: 1fr;
    }
    .shop-zabo{
        grid-column: span 1;
    }
    .contact-subscription{
        width: 70%;
    }
    .footer-details{
        grid-template-columns: 1fr;
    }
    .footer-links{
        grid-template-columns: 1fr;
    }
}